<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
{% for i in stringlist %}
<tr> <td>
 {{ i }}
</td><td>
    {% for key,value in dict.items %}
        {{key}}:{{value}}
    {% endfor %}

</td>

    <td>

        {% for item in list%}
            {{item}}{% if not forloop.last%},{% endif %}
        {% endfor %}

    </td>
</tr>
{% endfor%}

</table>
<p>当前网址：{{request.GET.urlencode}}</p>
<a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>

</body>
</html>